
.painel{
    margin: auto;
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgb(139, 21, 21);
    font-size: 30;
}
    
#sim{
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: -50px;
    }

    #sim:hover{
        background: #333;
        color: #fff
    }

    #nao{
        position: absolute;
        height: 40px;
        width: 60px;
        background-color: red;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        margin-left: 10px;
    }

    .shrek {
        width: 400px;
        border-radius: 20px;
    }

    .painel img{
        width:400px ;
    
    }